flows.json
[{"id":"be2ce4eb.0d3b98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37198639.8d6d5a","type":"rpi-gpio in","z":"be2ce4eb.0d3b98","name":"Button","pin":"12","intype":"up","debounce":"25","read":true,"x":120,"y":120,"wires":[["48db0e27.702c","ed72cf5f.686fd"]]},{"id":"ed72cf5f.686fd","type":"rpi-gpio out","z":"be2ce4eb.0d3b98","name":"LED","pin":"7","set":"","level":"0","freq":"","out":"out","x":630,"y":200,"wires":[]},{"id":"48db0e27.702c","type":"debug","z":"be2ce4eb.0d3b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":100,"wires":[]}]