LED.txt
[{"id":"be2ce4eb.0d3b98","type":"tab","label":"git add","disabled":false,"info":""},{"id":"ed72cf5f.686fd","type":"rpi-gpio out","z":"be2ce4eb.0d3b98","name":"LED","pin":"7","set":"","level":"0","freq":"","out":"out","x":820,"y":200,"wires":[]},{"id":"48db0e27.702c","type":"debug","z":"be2ce4eb.0d3b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":80,"wires":[]},{"id":"8538c5f9.683d68","type":"rpi-gpio in","z":"be2ce4eb.0d3b98","name":"button","pin":"40","intype":"up","debounce":"25","read":true,"x":190,"y":200,"wires":[["689ae72a.402568","48db0e27.702c"]]},{"id":"689ae72a.402568","type":"switch","z":"be2ce4eb.0d3b98","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":240,"wires":[["8d059b3a.88c7a8"],["e373870b.aeca28"]]},{"id":"8d059b3a.88c7a8","type":"change","z":"be2ce4eb.0d3b98","name":"change 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["ed72cf5f.686fd"]]},{"id":"e373870b.aeca28","type":"change","z":"be2ce4eb.0d3b98","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["ed72cf5f.686fd"]]}]