WriteMCS.txt
[{"id":"51026515.4b4c5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7c175b8.f8c378","type":"inject","z":"51026515.4b4c5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["56307ccc.ffca04"]]},{"id":"56307ccc.ffca04","type":"function","z":"51026515.4b4c5c","name":"","func":"msg.headers={\n    deviceKey: \"HoKDCWWrZL3qqqF3\"\n};\nmsg.payload=\"Temperature,,90\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["20760042.a188b"]]},{"id":"20760042.a188b","type":"http request","z":"51026515.4b4c5c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dv4yQ90f/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":300,"wires":[["f66494e5.67fb48","1006a390.d835ac"]]},{"id":"f66494e5.67fb48","type":"http response","z":"51026515.4b4c5c","name":"","statusCode":"","headers":{},"x":780,"y":220,"wires":[]},{"id":"1006a390.d835ac","type":"debug","z":"51026515.4b4c5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]}]